body {
  overflow: hidden;
}

.jsrun {
  margin: 0;
  padding: 0;
}

.jsrun.wrapper {
  height: 100vh;
  width: 100vw;
}

.jsrun.inner-top {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 5px;
  left: 20px;
  width: 99vw;
  height: 10vw;
}

.jsrun.inner-top > h1 {
  transform: translateY(-20px);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.jsrun.ace-wrap {
  width: 98vw;
  height: 86vh;
  padding-top: 37px;
}

.jsrun.ace {
  width: 100%;
  height: 100%;
}

.jsrun.button {
  display: inline;
  position: relative;
  top: -79px;
  left: 100px;
  padding: 6px;
  background-color: #2185D0;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.jsrun.button:hover {
  background-color: #4BA1E2;
}

.jsrun.button:active {
  background-color: #19649C;
}
